In [33]:
conda install -y psycopg2 sqlalchemy seaborn

Retrieving notices: ...working... done
Channels:
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - psycopg2
    - seaborn
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2024.11.26 |       hca03da5_0         132 KB
    conda-24.11.0              |  py312hca03da5_0         1.2 MB
    libpq-17.0                 |       h02f6b3c_0         2.8 MB
    mysql-8.4.0                |       hbfabb4d_0        61.5 MB
    openldap-2.6.4             |       he7ef289_0         921 KB
    psycopg2-2.9.9             |  py312h80987f9_1         174 KB
    qt-main-5.15.2             |      h0917680_11        38.4 MB
    ------------------------------------------------------------
                                           Total:       105.0 MB

The following NEW packages will be INSTALLED:

  openldap           pkgs/main/osx-arm64::openldap-2.6.4-he7ef289_0

The following packages will be UPDATED:

  ca-certificates                      2024.9.24-hca03da5_0 --> 2024.11.26-hca03da5_0
  conda                              24.9.2-py312hca03da5_0 --> 24.11.0-py312hca03da5_0
  libpq                                    12.17-h02f6b3c_0 --> 17.0-h02f6b3c_0
  mysql                                   5.7.24-ha71a6ea_2 --> 8.4.0-hbfabb4d_0
  psycopg2                            2.9.9-py312h80987f9_0 --> 2.9.9-py312h80987f9_1
  qt-main                                5.15.2-h0917680_10 --> 5.15.2-h0917680_11



Downloading and Extracting Packages:
mysql-8.4.0          | 61.5 MB   |                                       |   0%
qt-main-5.15.2       | 38.4 MB   |                                       |   0%

libpq-17.0           | 2.8 MB    |                                       |   0%


conda-24.11.0        | 1.2 MB    |                                       |   0%



openldap-2.6.4       | 921 KB    |                                       |   0%




psycopg2-2.9.9       | 174 KB    |                                       |   0%





ca-certificates-2024 | 132 KB    |                                       |   0%

libpq-17.0           | 2.8 MB    | 2                                     |   1%
qt-main-5.15.2       | 38.4 MB   |                                       |   0%


conda-24.11.0        | 1.2 MB    | 4                                     |   1%



mysql-8.4.0          | 61.5 MB   |                                       |   0%

libpq-17.0           | 2.8 MB    | #4                                    |   4%
qt-main-5.15.2       | 38.4 MB   | 1                                     |   0%

libpq-17.0           | 2.8 MB    | ##9                                   |   8%


mysql-8.4.0          | 61.5 MB   |                                       |   0%



openldap-2.6.4       | 921 KB    | #2                                    |   3%
qt-main-5.15.2       | 38.4 MB   | 2                                     |   1%

libpq-17.0           | 2.8 MB    | #####3                                |  15%


conda-24.11.0        | 1.2 MB    | ######9                               |  19%



mysql-8.4.0          | 61.5 MB   |                                       |   0%
qt-main-5.15.2       | 38.4 MB   | 4                                     |   1%

libpq-17.0           | 2.8 MB    | ########4                             |  23%


conda-24.11.0        | 1.2 MB    | ##############8                       |  40%
qt-main-5.15.2       | 38.4 MB   | 8                                     |   2%



mysql-8.4.0          | 61.5 MB   | 1                                     |   0%

libpq-17.0           | 2.8 MB    | #############8                        |  38%


conda-24.11.0        | 1.2 MB    | #########################2            |  68%



mysql-8.4.0          | 61.5 MB   | 2                                     |   1%
qt-main-5.15.2       | 38.4 MB   | #                                     |   3%

libpq-17.0           | 2.8 MB    | ################9                     |  46%


conda-24.11.0        | 1.2 MB    | ###############################7      |  86%



mysql-8.4.0          | 61.5 MB   | 3                                     |   1%
qt-main-5.15.2       | 38.4 MB   | #2                                    |   3%


conda-24.11.0        | 1.2 MB    | ##################################### | 100%



mysql-8.4.0          | 61.5 MB   | 7                                     |   2%




psycopg2-2.9.9       | 174 KB    | ###4                                  |   9%




mysql-8.4.0          | 61.5 MB   | 9                                     |   3%



openldap-2.6.4       | 921 KB    | ##################################### | 100%



openldap-2.6.4       | 921 KB    | ##################################### | 100%
qt-main-5.15.2       | 38.4 MB   | #4                                    |   4%

libpq-17.0           | 2.8 MB    | ###################8                  |  54%
mysql-8.4.0          | 61.5 MB   | #1                                    |   3%

libpq-17.0           | 2.8 MB    | ################################7     |  88%
mysql-8.4.0          | 61.5 MB   | #4                                    |   4%





ca-certificates-2024 | 132 KB    | ####4                                 |  12%





ca-certificates-2024 | 132 KB    | ##################################### | 100%
mysql-8.4.0          | 61.5 MB   | #9                                    |   5%
qt-main-5.15.2       | 38.4 MB   | ####5                                 |  12%

mysql-8.4.0          | 61.5 MB   | ##2                                   |   6%
mysql-8.4.0          | 61.5 MB   | ##5                                   |   7%
mysql-8.4.0          | 61.5 MB   | ###8                                  |  10%
mysql-8.4.0          | 61.5 MB   | ####2                                 |  12%
mysql-8.4.0          | 61.5 MB   | #####                                 |  14%
mysql-8.4.0          | 61.5 MB   | #####4                                |  15%
mysql-8.4.0          | 61.5 MB   | #####9                                |  16%
mysql-8.4.0          | 61.5 MB   | ######9                               |  19%
mysql-8.4.0          | 61.5 MB   | #######3                              |  20%
mysql-8.4.0          | 61.5 MB   | #######8                              |  21%
qt-main-5.15.2       | 38.4 MB   | #########                             |  25%
qt-main-5.15.2       | 38.4 MB   | #########4                            |  25%
qt-main-5.15.2       | 38.4 MB   | #########6                            |  26%
qt-main-5.15.2       | 38.4 MB   | #########9                            |  27%
qt-main-5.15.2       | 38.4 MB   | ##########2                           |  28%
qt-main-5.15.2       | 38.4 MB   | ##########5                           |  28%
qt-main-5.15.2       | 38.4 MB   | ##########8                           |  29%
qt-main-5.15.2       | 38.4 MB   | ###########                           |  30%
mysql-8.4.0          | 61.5 MB   | ########2                             |  22%
qt-main-5.15.2       | 38.4 MB   | ###########8                          |  32%
qt-main-5.15.2       | 38.4 MB   | ############1                         |  33%
qt-main-5.15.2       | 38.4 MB   | ############4                         |  34%
mysql-8.4.0          | 61.5 MB   | ########5                             |  23%
qt-main-5.15.2       | 38.4 MB   | #############2                        |  36%
qt-main-5.15.2       | 38.4 MB   | #############5                        |  37%
mysql-8.4.0          | 61.5 MB   | ########7                             |  24%
qt-main-5.15.2       | 38.4 MB   | ##############2                       |  39%
mysql-8.4.0          | 61.5 MB   | ########9                             |  24%
mysql-8.4.0          | 61.5 MB   | #########                             |  25%
qt-main-5.15.2       | 38.4 MB   | ###############3                      |  41%
mysql-8.4.0          | 61.5 MB   | #########2                            |  25%
mysql-8.4.0          | 61.5 MB   | #########3                            |  25%
mysql-8.4.0          | 61.5 MB   | #########4                            |  26%
mysql-8.4.0          | 61.5 MB   | #########6                            |  26%
mysql-8.4.0          | 61.5 MB   | #########7                            |  26%
mysql-8.4.0          | 61.5 MB   | #########8                            |  27%
qt-main-5.15.2       | 38.4 MB   | #################9                    |  48%
mysql-8.4.0          | 61.5 MB   | #########9                            |  27%
mysql-8.4.0          | 61.5 MB   | ##########                            |  27%
mysql-8.4.0          | 61.5 MB   | ##########3                           |  28%
qt-main-5.15.2       | 38.4 MB   | ###################4                  |  52%
mysql-8.4.0          | 61.5 MB   | ##########5                           |  29%
qt-main-5.15.2       | 38.4 MB   | ####################1                 |  54%
mysql-8.4.0          | 61.5 MB   | ##########7                           |  29%
mysql-8.4.0          | 61.5 MB   | ##########8                           |  29%
mysql-8.4.0          | 61.5 MB   | ###########                           |  30%
mysql-8.4.0          | 61.5 MB   | ###########1                          |  30%
mysql-8.4.0          | 61.5 MB   | ###########2                          |  30%
mysql-8.4.0          | 61.5 MB   | ###########3                          |  31%
mysql-8.4.0          | 61.5 MB   | ###########5                          |  31%
mysql-8.4.0          | 61.5 MB   | ###########7                          |  32%
mysql-8.4.0          | 61.5 MB   | ###########8                          |  32%
mysql-8.4.0          | 61.5 MB   | ############                          |  33%
mysql-8.4.0          | 61.5 MB   | ############1                         |  33%
mysql-8.4.0          | 61.5 MB   | ############3                         |  33%
mysql-8.4.0          | 61.5 MB   | ############5                         |  34%
mysql-8.4.0          | 61.5 MB   | ############6                         |  34%
mysql-8.4.0          | 61.5 MB   | ############8                         |  35%
mysql-8.4.0          | 61.5 MB   | ############9                         |  35%
qt-main-5.15.2       | 38.4 MB   | ##########################9           |  73%
mysql-8.4.0          | 61.5 MB   | #############1                        |  35%
mysql-8.4.0          | 61.5 MB   | #############3                        |  36%
mysql-8.4.0          | 61.5 MB   | #############5                        |  37%
mysql-8.4.0          | 61.5 MB   | #############9                        |  38%
mysql-8.4.0          | 61.5 MB   | ##############                        |  38%
qt-main-5.15.2       | 38.4 MB   | #############################7        |  80%
mysql-8.4.0          | 61.5 MB   | ##############2                       |  38%
mysql-8.4.0          | 61.5 MB   | ##############4                       |  39%
mysql-8.4.0          | 61.5 MB   | ##############6                       |  40%
mysql-8.4.0          | 61.5 MB   | ##############8                       |  40%
mysql-8.4.0          | 61.5 MB   | ###############                       |  41%
mysql-8.4.0          | 61.5 MB   | ###############2                      |  41%
mysql-8.4.0          | 61.5 MB   | ###############5                      |  42%
mysql-8.4.0          | 61.5 MB   | ###############7                      |  42%
mysql-8.4.0          | 61.5 MB   | ###############8                      |  43%
mysql-8.4.0          | 61.5 MB   | ################1                     |  44%
mysql-8.4.0          | 61.5 MB   | ################3                     |  44%
mysql-8.4.0          | 61.5 MB   | ################5                     |  45%
mysql-8.4.0          | 61.5 MB   | ################8                     |  45%
mysql-8.4.0          | 61.5 MB   | ###############################4      |  85%






















Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

# Indicators of Anxiety or Depression

In [18]:
import pandas as pd
import numpy 
import csv
import psycopg2
import matplotlib.pyplot as plt
import pandas.io.sql as sqlio
import seaborn as sns
from sqlalchemy import create_engine, event, text, exc
from sqlalchemy.engine.url import URL

In [20]:
mental_health_data = pd.read_csv("Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days_20241204.csv")

In [21]:
mental_health_data.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.2,21.5,25.0,21.5 - 25.0,NaN

In [24]:
mental_health_data.describe()

        Time Period         Value        Low CI       High CI
count  16794.000000  16087.000000  16087.000000  16087.000000
mean      35.922830     28.140946     24.642270     31.893181
std       21.530312      8.951691      8.593666      9.481899
min        1.000000      4.600000      3.300000      6.000000
25%       17.000000     22.100000     18.700000     25.500000
50%       37.000000     27.700000     24.100000     31.600000
75%       55.000000     33.400000     29.700000     37.400000
max       72.000000     85.200000     79.900000     89.500000

In [26]:
mental_health_data.dtypes

Indicator                  object
Group                      object
State                      object
Subgroup                   object
Phase                      object
Time Period                 int64
Time Period Label          object
Time Period Start Date     object
Time Period End Date       object
Value                     float64
Low CI                    float64
High CI                   float64
Confidence Interval        object
Quartile Range             object
dtype: object

Creating connection with postgreSQL

In [45]:
connection_string='postgresql+psycopg2://admin:admin@127.0.0.1:5432/postgres'
try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        server_version = sqlio.read_sql_query(text('SELECT VERSION();'), connection)
except exc.SQLAlchemyError as dbError:
    print('PostgreSQL Error', dbError)
else:
    print(server_version['version'].values[0])
finally:
    if engine in locals():
        engine.close()
#sudo kill <pid> kill the process with this pid
#sudo lsof -i :5432  list the proccess running in this port
#Check the process running, kill all the postgres and let only the com.docker

PostgreSQL 15.10 (Postgres.app) on aarch64-apple-darwin21.6.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.102), 64-bit

Creating the database

In [47]:
try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level='AUTOCOMMIT')
        connection.execute(text('CREATE DATABASE mental_health;'))
except exc.SQLAlchemyError as dbError:
    print('PostgreSQL Error', dbError)
finally:
    if engine in locals():
        engine.close()

Connecting to the new database and crating the table

In [51]:
connection_string = 'postgresql+psycopg2://admin:admin@127.0.0.1:5432/mental_health'

table_create_string = '''
CREATE TABLE IF NOT EXISTS mental_health (
    indicator TEXT,
    group_name TEXT,
    state TEXT,
    subgroup TEXT,
    phase TEXT,
    time_period INT,
    time_period_label TEXT,
    time_period_start_date DATE,
    time_period_end_date DATE,
    value FLOAT,
    low_ci FLOAT,
    high_ci FLOAT,
    confidence_interval TEXT,
    quartile_range TEXT
);
'''

try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level='AUTOCOMMIT')
        connection.execute(text(table_create_string))
except exc.SQLAlchemyError as dbError:
    print('PostgreSQL Error', dbError)
finally:
    if engine in locals():
        engine.close()

Converting the column time to date time before upload the data on the database

In [58]:
# Convert date columns to datetime format
mental_health_data['Time Period Start Date'] = pd.to_datetime(mental_health_data['Time Period Start Date'], format='%m/%d/%Y')
mental_health_data['Time Period End Date'] = pd.to_datetime(mental_health_data['Time Period End Date'], format='%m/%d/%Y')

In [60]:
mental_health_data.dtypes

Indicator                         object
Group                             object
State                             object
Subgroup                          object
Phase                             object
Time Period                        int64
Time Period Label                 object
Time Period Start Date    datetime64[ns]
Time Period End Date      datetime64[ns]
Value                            float64
Low CI                           float64
High CI                          float64
Confidence Interval               object
Quartile Range                    object
dtype: object

In [62]:
mental_health_data.to_sql('mental_health', engine, if_exists= 'replace', index=False)

794

In [64]:
query = "SELECT COUNT(*) FROM mental_health;"
row_count = pd.read_sql(query, engine)
print("Rows in PostgreSQL table:", row_count.iloc[0, 0])

Rows in PostgreSQL table: 16794

In [80]:
query= "SELECT * FROM mental_health LIMIT 10;";
select10 = pd.read_sql(query, engine)
print(select10)

                         Indicator              Group          State  \
0  Symptoms of Depressive Disorder  National Estimate  United States
1  Symptoms of Depressive Disorder             By Age  United States
2  Symptoms of Depressive Disorder             By Age  United States
3  Symptoms of Depressive Disorder             By Age  United States
4  Symptoms of Depressive Disorder             By Age  United States
5  Symptoms of Depressive Disorder             By Age  United States
6  Symptoms of Depressive Disorder             By Age  United States
7  Symptoms of Depressive Disorder             By Age  United States
8  Symptoms of Depressive Disorder             By Sex  United States
9  Symptoms of Depressive Disorder             By Sex  United States

             Subgroup Phase  Time Period     Time Period Label  \
0       United States     1            1  Apr 23 - May 5, 2020
1       18 - 29 years     1            1  Apr 23 - May 5, 2020
2       30 - 39 years     1            1  Apr 23 - May 5, 2020
3       40 - 49 years     1            1  Apr 23 - May 5, 2020
4       50 - 59 years     1            1  Apr 23 - May 5, 2020
5       60 - 69 years     1            1  Apr 23 - May 5, 2020
6       70 - 79 years     1            1  Apr 23 - May 5, 2020
7  80 years and above     1            1  Apr 23 - May 5, 2020
8                Male     1            1  Apr 23 - May 5, 2020
9              Female     1            1  Apr 23 - May 5, 2020

  Time Period Start Date Time Period End Date  Value  Low CI  High CI  \
0             2020-04-23           2020-05-05   23.5    22.7     24.3
1             2020-04-23           2020-05-05   32.7    30.2     35.2
2             2020-04-23           2020-05-05   25.7    24.1     27.3
3             2020-04-23           2020-05-05   24.8    23.3     26.2
4             2020-04-23           2020-05-05   23.2    21.5     25.0
5             2020-04-23           2020-05-05   18.4    17.0     19.7
6             2020-04-23           2020-05-05   13.6    11.8     15.5
7             2020-04-23           2020-05-05   14.4     9.0     21.4
8             2020-04-23           2020-05-05   20.8    19.6     22.0
9             2020-04-23           2020-05-05   26.1    25.2     27.1

  Confidence Interval Quartile Range
0         22.7 - 24.3           None
1         30.2 - 35.2           None
2         24.1 - 27.3           None
3         23.3 - 26.2           None
4         21.5 - 25.0           None
5         17.0 - 19.7           None
6         11.8 - 15.5           None
7          9.0 - 21.4           None
8         19.6 - 22.0           None
9         25.2 - 27.1           None